:root {
    --main-color: rgb(121, 243, 234);
    --second-color: rgb(61, 65, 63);
    --white: #fff;
    --dark-blue: rgb(6, 18, 120);

}
body {
    font-family: sans-serif;
    background-color: var(--white);
}

.navbar {
    width: 100%;
    margin: 0 auto;
}

/* some css code taken from activity 13 */
header {
    display: flex;
    background-color: var(--second-color);
}

header h1 {
    color: var(--second-color);
    background-color: var(--main-color);
    font-size: 30px;
    float: left;
    padding: 0% 10% 0% 0%;
}

/* https://www.youtube.com/watch?v=FEmysQARWFU&t=20s referenced how to same the links in the nav bar */
nav ul {
    display: flex;
    list-style: none;
    float: right;
  }
  
  nav a {
    display: inline-block;
    margin:10px 20px 0px 10px;
    color: var(--main-color);
    font-weight: bold;
    text-decoration: underline solid 3px;
  }

  nav a:hover {
    font-size: 150%;
    color: white;
  }

/* article tag below the header and nav */
  article {
    display: flex;
    background-image: url('../assets/Images/sample.jpg');
    background-size:contain;
    padding: 10px;
  }

  article h1 {
    color: var(--second-color);
    background-color: var(--main-color);
    font-size: 30px;
    width: fit-content;
    padding: 5px;
    float: right;
  }

  main {
    display: flex;
    font-size: 16px;
    padding: 0px 50px 0px 50px;
    flex-direction: column;
  }

main h2 {
    font-size: 250%;
    color: var(--dark-blue);
    border-right: solid 3px var(--dark-blue);
    justify-content: flex-start;
}

#about-me {
    display: flex;
}

#work {
    display: flex;
}

#contact-me {
    display: flex;
}

#contact-me li {
    display: inline;
    list-style: none;
}