:root {
  --main-color: rgb(222, 120, 224);
  --second-color: rgb(61, 65, 63);
  --white: #fff;
  --dark-blue: rgb(6, 18, 120);

}
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
  width: 100%;
  margin: 0 auto;
}

/* some css code taken from activity 13 */
header {
  display: flex;
  background-color: var(--second-color);
}

header h1 {
  color: var(--second-color);
  background-color: var(--main-color);
  font-size: 30px;
  float: left;
  padding: 0% 0% 0% 7%;
}

header h1:hover {
  background-color: var(--white);
  cursor: default;
}

/* https://www.youtube.com/watch?v=FEmysQARWFU&t=20s referenced how to same the links in the nav bar */
nav ul {
  display: flex;
  list-style: none;
  float: right;
}

nav a {
  display: inline-block;
  margin:10px 20px 0px 10px;
  color: var(--main-color);
  font-weight: bold;
  border: 1px solid var(--main-color);
  text-decoration: none;
}

nav a:hover {
  font-size: 150%;
  color: var(--white);
  border-color: var(--white);
}

/* tag below the header and nav */
/* used code from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_text as a reference */
.container {
  position: relative;
  text-align: center;
}

.container img {
  height: 200px;
}

.quote  {
  color: var(--second-color);
  background-color: var(--main-color);
  font-size: 16px;
  position: absolute;
  top: 65%;
  left: 75%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.quote:hover {
  background-color: var(--white);
  cursor: default;
}

/* content of the page starts here starting with "about me" */
main {
  display: flex;
  font-size: 16px;
  padding: 0px 50px 0px 50px;
  flex-direction: column; 
}

main h2 {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 200px;
  font-size: 200%;
  color: var(--dark-blue);
  border-right: solid 3px var(--dark-blue);
  padding-right: 30px;
}

/* about me section */
#about-me {
  display: flex;
} 

#about-me img{
  display: flex;
  margin-left: 5%;
  height: 200px;
  width: 200px;
  margin-top: 2%;
}

#about-me p {
  display: inline;
  padding: 0 0 0 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

/* work section */
#work {
  display: flex;
  contain: content;
}

#work div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#work img {
  display: inline;
  margin: 1%;
  border: 2px solid var(--main-color);
  opacity: 75%;
  height: 200px;
  width: 300px;
}

#work img:hover {
  border: 5px solid var(--main-color);
  opacity: 100%;
}

#image1 img {
  width: 610px;
  height: 200px;
}

/* position and style for the text with the images */
#image1 h3 {

}

#work h3 {
  color: var(--second-color);
  background-color: var(--main-color);
  font-size: 16px;
  position: absolute;
  transform: translate(-125%, 200%);
  text-transform: uppercase;
  padding: 15px 2px;
}

/* contact me section */
#contact-me {
  display: flex;
}

#contact-me li {
  display: inline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:85%;
  text-decoration: none;
  padding: 5px;
  margin: 5px 15px auto;
  list-style: none;
  border-bottom: 2px solid var(--dark-blue);
}

#contact-me li:hover{
  font-size: 100%;
  cursor: pointer;
}

/* Responsive design for the ipad */
@media screen and (max-width: 820px)
{
  header h1, nav ul {
    display: flex;
    float: none;
    justify-content: center;
    text-align: center;
    font-size: 200%
  }

  .quote {
    display: flex;
    top: 65%;
    left: 50%;
    font-size: 150%;
  }

  main, main h2, #about-me, #work, #contact-me {
    display: block
  }

  main h2 {
    font-size: 300%;
    border-bottom: solid 3px var(--dark-blue);
    border-right: none;
  }

  #about-me img{
    margin-left: 38%;
    margin-bottom: 2%;
  }

  #image1 img {
    height: 250px;
  }

  #contact-me li {
    font-size: 75%;
  }
  
}

/* responsive design for the iphone */
@media screen and (max-width: 390px)
{
  header h1 {
    font-size: 350%;
  }

  nav ul {
    font-size: 100%;
    margin-right: 35px;
  }

  .quote {
    font-size: 100%;
    top: 75%
  }

  main h2 {
    font-size: 200%;
  }

  #about-me img{
    margin-left: 0%;
    margin-bottom: 2%;
  }

  #image1 img {
    height: 150px;
    width: 250px;
  }

  #work img {
    height: 150px;
    width: 250px;
  }

  #work h3 {
    transform: translate(-31%, 80%);
  }

  #contact-me li {
    display: block;
    font-size: 125%;
  }
}